- # app/views/directories/index.html.haml

- presenter = DirectoryPresenter.new @current_directory

%h2
  = presenter.label
  %small Directory Index

- if @current_directory
  %p
    = link_to edit_directory_path(@current_directory), :class => 'text-warning' do
      = icon :edit, :scale => :large
      Edit Directory
    &nbsp;
    = link_to directory_path(@current_directory), :class => 'text-danger', :method => :delete do
      = icon :trash, :scale => :large
      Delete Directory

%p
  %strong Parent:
  = presenter.parent_link :index
%p
  %strong Title:
  = presenter.title
%p
  %strong Slug:
  = presenter.slug

%h3 Directories
%p
  = link_to new_directory_path(@current_directory), :class => '.text-primary' do
    %span.fa-stack.fa-sm
      = icon :folder_o, :fixed => true, :class => 'fa-stack-2x'
      = icon :pencil, :fixed => true, :class => 'fa-stack-1x'
    Create Directory

= render :partial => 'table', :locals => { :directories => presenter.children }

%p
  = link_to directories_path(@directories) do
    = icon(:arrow_circle_left)
    Back to
    = presenter.label
