- # app/views/features/_table.html.haml

%table.table
  %thead
    %tr
      %th &nbsp;
      %th Title
      %th Slug
      %th Type
      %th &nbsp;
  %tbody
    - if features.blank?
      %tr
        %td(colspan=3) There are no features.
    - else
      - features.each do |feature|
        - presenter = present(feature)
        %tr{ :data => { :'backbone-layout' => 'Common.Actions', :'confirm-delete-body' => "Are you sure you want to delete this #{presenter.type.downcase}?" } }
          %td= presenter.icon :width => :fixed
          %td= presenter.title
          %td= presenter.slug
          %td= presenter.type
          %td
            = link_to resource_path(feature), :class => 'text-info' do
              = icon :cube, :width => :fixed
              Show
            &nbsp;
            = link_to edit_resource_path(feature), :class => 'text-warning' do
              = icon :edit, :width => :fixed
              Edit
            &nbsp;
            = link_to resource_path(feature), :class => 'text-danger delete-link', :method => :delete do
              = icon :trash, :width => :fixed
              Delete
