- # app/views/features/blog_posts/_post.html.haml

- presenter ||= present post

%h3= presenter.label

- if user_signed_in?
  %div{ :data => { :'backbone-layout' => 'Common.Actions', :'confirm-delete-body' => 'Are you sure you want to delete this post?' } }
    %p
      = link_to edit_resource_path(post), :class => 'text-warning' do
        = icon :edit, :scale => :large
        Edit Post
      &nbsp;
      = link_to resource_path(post), :class => 'text-danger delete-link', :method => :delete do
        = icon :trash, :scale => :large
        Delete Post

- present(post.content).render_content(self)
