- # app/views/features/blog_posts/_post.html.haml

- presenter ||= present post

%h3.clearfix
  = presenter.label

  - if user_signed_in?
    = render :layout => 'admin/common/components/button_bar', :locals => { :options => { :data => { :'backbone-layout' => 'Common.Actions', :'confirm-delete-body' => 'Are you sure you want to delete this post?' } } } do
      - if presenter.published?
        = render :partial => 'admin/common/components/button', :locals => { :text => 'Unpublish Post', :url => unpublish_resource_path(post), :options => { :icon => :reply, :text_color => :warning, :method => :put } }
      - else
        = render :partial => 'admin/common/components/button', :locals => { :text => 'Publish Post', :url => publish_resource_path(post), :options => { :icon => :share, :text_color => :success, :method => :put } }
      = render :partial => 'admin/common/components/button', :locals => { :text => 'Edit Post', :url => edit_resource_path(post), :options => { :icon => :edit, :text_color => :warning } }
      = render :partial => 'admin/common/components/button', :locals => { :text => 'Delete Post', :url => resource_path(post), :options => { :icon => :trash, :text_color => :danger, :method => :delete, :class => 'delete-link' } }

- if presenter.published? || current_user.blank?
  %p.text-muted= presenter.published_message
- else
  .alert.alert-warning.alert-dismissable
    %button.close{ :type => 'button', :'data-dismiss' => 'alert' }
      %span{ :'aria-hidden' => true } &times;
      %span.sr-only Close
    %strong Warning
    This post is not yet published. It is not visible to other users.

- present(post.content).render_content(self)
