- # app/views/admin/sessions/new.html.haml

%h2 Sign In

= form_for(resource, :as => resource_name, :url => session_path(resource_name), :builder => BootstrapHorizontalFormBuilder) do |form|
  = form.form_group :email do
    = form.email_field :email, :autofocus => true
  = form.form_group :password do
    = form.password_field :password, :autocomplete => "off"
  = form.form_group do
    = form.submit 'Sign In'
