- # app/views/admin/common/_form_errors.html.haml

- presenter ||= present(resource)

- unless presenter.error_messages.blank?
  .panel.panel-warning
    .panel-heading= "#{presenter.name} Errors"
    .panel-body
      %p= "The following error(s) prevent the #{presenter.name} from being saved:"
      %ul
        - presenter.error_messages.each do |message|
          %li= message
