- # app/views/directories/_form.html.haml

- form_path   = directory.persisted? ? directory_path(directory) : create_directory_path(directory)
- form_method = directory.persisted? ? :patch : :post
= form_for directory, :builder => BootstrapHorizontalFormBuilder, :url => form_path, :method => form_method do |form|
  - unless directory.errors.blank?
    .panel.panel-warning
      .panel-heading Directory Errors
      .panel-body
        %p The following error(s) prevent the Directory from being saved:
        %ul
          - directory.errors.full_messages.each do |message|
            %li= message

  = form.form_group :title do
    = form.text_field :title, :autofocus => true
  = form.form_group :slug do
    = form.text_field :slug
  = form.form_group do
    = form.submit directory.persisted? ? 'Update Directory' : 'Create Directory'
    = form.button 'Cancel', directory.persisted? ? dashboard_directory_path(directory) : dashboard_directory_path(directory.parent)
