- # app/views/admin/directories/_table.html.haml

%table.table
  %thead
    %tr
      %th Title
      %th Slug
      %th &nbsp;
  %tbody
    - if directories.blank?
      %tr
        %td(colspan=3) There are no directories.
    - else
      - directories.each do |directory|
        - presenter = present(directory)
        %tr{ :data => { :'backbone-layout' => 'Common.Actions', :'confirm-delete-body' => "Are you sure you want to delete this directory?<br><br><strong>This will destroy all child directories and features in this directory.</strong>".html_safe } }
          %td= presenter.title
          %td= presenter.slug
          %td
            = link_to directory_path(directory), :class => 'text-info' do
              = icon :cube, :fixed => true
              Show
            &nbsp;
            = link_to dashboard_directory_path(directory), :class => 'text-info' do
              = icon :cubes, :fixed => true
              Dashboard
            &nbsp;
            = link_to edit_directory_path(directory), :class => 'text-warning' do
              = icon :edit, :fixed => true
              Edit
            &nbsp;
            = link_to directory_path(directory), :class => 'text-danger delete-link', :method => :delete do
              = icon :trash, :fixed => true
              Delete
