- # app/views/admin/directories/dashboard.html.haml

- presenter = DirectoryPresenter.new @current_directory

= render :partial => 'admin/common/modals/confirm_delete'

- content_for :content_header do
  = render_component 'common/content_header', :title => presenter.label, :subtitle => 'Dashboard' do
    = render_component 'admin/directories/dashboard/actions', :directory => @current_directory, :presenter => presenter

%h3 Properties
.row
  .col-sm-3
    %strong Parent:
  .col-sm-21= presenter.parent_link :action => :dashboard
.row
  .col-sm-3
    %strong Title:
  .col-sm-21= presenter.title
.row
  .col-sm-3
    %strong Slug:
  .col-sm-21= presenter.slug

%h3.no-margin-bottom.clearfix
  Directories

  = render_component 'admin/directories/index/actions', :directory => @current_directory, :presenter => presenter

= render_component 'admin/directories/table', :directories => presenter.children

%h3.no-margin-bottom.clearfix
  Features

  = render_component 'admin/common/components/button_bar' do
    - FeaturesEnumerator.directory_features.each do |name, options|
      - feature_presenter = present(options[:class])
      = render_component 'admin/common/components/button', :text => "Create #{feature_presenter.type}", :url => new_resource_path(@directories.last, name), :options => { :icon => feature_presenter.send(:icon_name), :text_color => :primary }

= render :partial => 'admin/features/table', :locals => { :features => presenter.features }
