- # app/views/admin/settings/string_settings/_form.html.haml

= form_for setting, :as => :setting, :builder => BootstrapFormBuilder, :url => admin_setting_path(setting), :method => :patch do |form|
  .errors{ :style => 'display:none;' }
    = render :partial => 'admin/common/form_errors', :locals => { :force_render => true, :resource => setting, :presenter => presenter, :resource_name => presenter.label }

  = form.fields_for :options do |fields|
    - setting.options.each do |setting, value|
      = fields.hidden_field setting, { :value => value }

  %p
    = form.label :value
    = form.text_field :value
