- # app/views/admin/features/pages/_form.html.haml

- presenter         = present page
- content_presenter = present page.content

- form_path   = page.persisted? ? page_path(page) : create_page_path(directories.last)
- form_method = page.persisted? ? :patch : :post
= form_for page, :builder => BootstrapHorizontalFormBuilder, :url => form_path, :method => form_method, :data => { :'backbone-layout' => 'Features.Pages.FormLayout' } do |form|
  = render :partial => 'admin/common/form_errors', :locals => { :resource => page, :presenter => presenter }

  = form.form_group :title do
    = form.text_field :title, :autofocus => true
  = form.form_group :slug do
    = form.text_field :slug, :placeholder => page.to_slug, :value => page.slug_lock ? page.slug : nil

  = render :partial => 'admin/features/contents/selector', :locals => { :form => form, :content => page.content }

  = form.form_group do
    = form.submit page.persisted? ? 'Update Page' : 'Create Page'
    = form.button 'Preview Page', preview_page_path(directories.last), :class => 'btn-info preview-button'
    = form.button 'Cancel', page.persisted? ? page_path(page) : dashboard_directory_path(directories.last)
