- # app/views/admin/settings/_form.html.haml

- presenter   = present setting
- form_path   = admin_setting_path(setting)
- form_method = :patch

= form_for setting, :as => :setting, :builder => BootstrapHorizontalFormBuilder, :url => form_path, :method => form_method, :data => { :'backbone-layout' => 'Settings.FormLayout' } do |form|
  = form.form_group setting.key, :label => presenter.label do
    .errors{ :style => 'display:none;' }
      = render :partial => 'admin/common/form_errors', :locals => { :force_render => true, :resource => setting, :presenter => presenter, :resource_name => presenter.label }

    = render :partial => presenter.fields_partial_path, :locals => { :form => form, :presenter => presenter, :setting => setting }

  = form.form_group do
    = form.submit 'Update Setting'
