- # app/views/admin/settings/_form.html.haml

- presenter   = present setting
- form_path   = admin_setting_path(setting)
- form_method = :patch

= form_for setting, :as => :setting, :builder => BootstrapHorizontalFormBuilder, :url => form_path, :method => form_method, :data => { :'x-backbone-layout' => 'Directories.FormLayout' } do |form|
  = form.form_group setting.key, :label => presenter.label do
    /= form.static_field setting.try(:value)

    = render :partial => presenter.fields_partial_path, :locals => { :form => form, :presenter => presenter, :setting => setting }

  = form.form_group do
    = form.submit 'Update Setting'
