- # app/views/features/blogs/_blog.html.haml

- presenter = present blog

= render :partial => 'admin/common/modals/confirm_delete'

%h2= presenter.label

- if user_signed_in?
  %div{ :data => { :'backbone-layout' => 'Common.Actions', :'confirm-delete-body' => 'Are you sure you want to delete this blog?' } }
    %p
      = link_to new_blog_post_path(blog), :class => 'text-primary' do
        = icon :file_o, :scale => :large
        Create Post
      &nbsp;
      = link_to index_blog_posts_path(blog), :class => 'text-info' do
        = icon :files_o, :scale => :large
        View Posts
      &nbsp;
      = link_to edit_resource_path(blog), :class => 'text-warning' do
        = icon :edit, :scale => :large
        Edit Blog
      &nbsp;
      = link_to resource_path(blog), :class => 'text-danger delete-link', :method => :delete do
        = icon :trash, :scale => :large
        Delete Blog

- if post.nil?
  %p This blog does not currently have any posts to display.
- else
  = render :partial => 'features/blog_posts/post', :locals => { :post => post }

%p
  = link_to directory_path(blog.directory) do
    = icon(:arrow_circle_left)
    Back to
    = DirectoryPresenter.new(blog.directory).label
