- # app/views/features/blogs/_blog.html.haml

- presenter = present blog

- content_for :content_header do
  - if user_signed_in?
    = render_component 'common/content_header', :title => presenter.label do
      = render_component 'admin/features/blogs/show/actions', :blog => blog, :presenter => presenter
  - else
    = render_component 'common/content_header', :title => presenter.label

= render :partial => 'admin/common/modals/confirm_delete'

- if post.nil?
  %p This blog does not currently have any posts to display.
- else
  = render :partial => 'features/blogs/navigation', :locals => { :blog => blog, :post => post }

  = render :partial => 'features/blog_posts/post', :locals => { :post => post }

  = render :partial => 'features/blogs/navigation', :locals => { :blog => blog, :post => post }
