- # app/views/features/blogs/_navigation.html.haml

%div.row
  .col-xs-2.text-center
    - if post.first_published.blank? || post == post.first_published
      %span.text-muted
        = icon :mail_reply
        First Post
    - else
      = link_to blog_post_path(post.first_published) do
        = icon :mail_reply
        First Post
  .col-xs-2.text-center
    - if post.prev_published.blank?
      %span.text-muted
        = icon :arrow_left
        Previous Post
    - else
      = link_to blog_post_path(post.prev_published) do
        = icon :arrow_left
        Previous Post
  .col-xs-4.text-center
    &nbsp;
  .col-xs-2.text-center
    - if post.next_published.blank?
      %span.text-muted
        Next Post
        = icon :arrow_right
    - else
      = link_to blog_post_path(post.next_published) do
        Next Post
        = icon :arrow_right
  .col-xs-2.text-center
    - if post.last_published.blank? || post == post.last_published
      %span.text-muted
        Last Post
        = icon :mail_forward
    - else
      = link_to blog_post_path(post.last_published) do
        Last Post
        = icon :mail_forward
