- # app/views/common/_session.html.haml

%p
  = icon(:user)
  - if current_user
    You are currently signed in as
    = succeed('.') do
      %em= current_user.email
    %span.pull-right
      = link_to destroy_user_session_path, :method => :delete do
        = icon(:exclamation_circle)
        Sign Out
  - else
    You are not currently signed in.
    %span.pull-right
      = link_to new_user_session_path do
        = icon(:arrow_circle_right)
        Sign In
