- # app/views/layouts/application.html.haml

!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")

    = favicon_link_tag '/apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144'
    = favicon_link_tag '/apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114'
    = favicon_link_tag '/apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72'
    = favicon_link_tag '/apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png'
    = favicon_link_tag '/favicon.ico', :rel => 'shortcut icon'

    %title= content_for?(:title) ? yield(:title) : Setting.fetch_with_i18n_fallback('site.title')

    = csrf_meta_tags

    = stylesheet_link_tag "application", :media => "all"
    = yield :stylesheets

    = javascript_include_tag "application"
    = yield :javascripts

  %body
    #page-content-wrapper
      .row
        = render 'common/header'

        #sidebar
          %hr

          = render 'common/navigation'

          %hr

        %main#page-content
          %hr

          = yield :content_header

          = render 'common/session'

          = render 'common/messages'

          = yield

          = render 'common/breadcrumbs'

    = render 'common/footer'
